body {
  font-family: "Open Sans", sans-serif;
  background-color: #dfe6e9;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: rgb(82, 82, 82);
  border-left: 1px solid rgb(82, 82, 82);
  padding: 10px;
  letter-spacing: 1px;
}

.jumbotron {
  background: linear-gradient(to right, #d63031, #6c5ce7);
  text-align: center;
  color: white;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-bottom: 10px solid rgb(82, 82, 82);
}

#clearFieldsBtn {
  margin-top: 10px;
}

.description {
  white-space: pre-wrap;
  font-weight: 600;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffeaa7;
  color: rgb(82, 82, 82);
  padding-top: 27px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

.past {
  background-color: #dfe6e9;
  border-radius: 15px;
  color: white;
}

.present {
  background-color: #d63031;
  border-radius: 15px;
}

.future {
  background-color: #55efc4;
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid rgb(82, 82, 82);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0984e3;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.white-text {
  color: white;
}
