body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: rgb(82, 82, 82);
  border-left: 1px solid rgb(82, 82, 82);
  padding: 10px;
}



.jumbotron {
  max-height: 350px;
  text-align: center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid rgb(82, 82, 82);
}

.jumbotron-pattern {
  background-color: #a29bfe;
  
}

#clearFieldsBtn {
  margin-top: 30px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color:rgb(82, 82, 82);
  padding-top: 30px;
  font-size: 25px;
  font-weight: 500;
  border-top: 1px solid rgb(82, 82, 82);
}

.past {
  background-color:#dfe6e9;
  border-radius: 15px;
  color: white;
}

.present {
  background-color: #d63031;
  border-radius: 15px;
  color: white;
}

.future {
  background-color: #55efc4;
  border-radius: 15px;
  color: white;
}

.saveBtn {
  border-left: 1px solid rgb(82, 82, 82);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:#0984e3;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.time-div:last-child {
  margin-bottom: 50px;
  border-bottom: 1px solid #333;
}