body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.jumbotron-pattern {
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255, 255, 255, .13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
  background-size: 13px,
  29px,
  37px,
  53px;
}
/* #currentDay {

  tex
} */
#clearFieldsBtn {

  margin-top: 30px;
}


.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  border-radius: 15px;
  color: white;
}

.present {
  background-color: #ff6961;
  border-radius: 15px;
  color: white;
}

.future {
  background-color: #77dd77;
  border-radius: 15px;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all .2s ease-in-out;
}
